#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core, police, roleplay, rp, serious, businesses, ems, firefighter, cars, mods, mechanics, mining, best, new, paradise, criminals, heist, robbery, commuinity, drugs, economy, gangs, custom cars, serious rp, onesync, racing, lspd, bcso, sahp, lsfd, safd, rp, egirl friendly"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "^4Criminal's Paradise RP"
sets sv_projectName "^4Criminals Paradise RP"
sets sv_projectDesc "Serious Roleplay. Join Today! Discord on the right ->"
sets locale "en-US"
load_server_icon cprplogo.png
set sv_enforceGameBuild 2699
set mysql_connection_string "{{dbConnectionString}}"

## Media Links:
sets Discord "https://discord.gg/nnvz7aV8c4"
sets TikTok "https://www.tiktok.com/@criminalsparadiserp"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure sound

# QBCore & Extra stuff
ensure qb-core
ensure qb-target
ensure [qb]
ensure [standalone]
ensure [voice]
## ensure [defaultmaps]
ensure cfx-gabz-mapdata
ensure cfx-gabz-pdprops
ensure cfx-gabz-scenarios
ensure [maps]
ensure [peds]
ensure [paid]
ensure [standalones]
ensure [engine]
ensure [vehicles]
## ensure [casino]
ensure [weapons]

ensure ja_bcso_eup	
ensure ja_lspd_eup	
ensure ja_sast_eup
ensure [eup]

ensure [boii]

ensure [jim]
ensure jim-mechanic
ensure jim-crafting

ensure [gnstudio]
ensure [cfx-gabz-maps]

ensure jim-consumables

ensure screenshot-basic
ensure CPRPGoods

ensure jim-consumables

## Permissions ##
add_ace group.admin command allow # allow all commands
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god
add_principal identifier.fivem:3513736 qbcore.god # CPRP_Developer
add_principal identifier.fivem:5017921 group.admin # Cowboy81787
add_principal identifier.fivem:5986526 group.admin # Brandinmartinez
add_principal identifier.fivem:3514810 group.admin # ColtronS
add_principal identifier.discord:827686053057396746 group.admin # Z Price
add_principal identifier.discord:756007798919397457 group.admin # Ellie

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands
add_ace resource.CPRPGoods command allow # Allows VersusAC

# Gods
add_ace qbcore.god command allow # Allow all commands
add_ace qbcore.admin command allow # Allow Admins to All Commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
